[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coop"]
	path = coop
	url = https://github.com/wrathematics/coop
[submodule "float"]
	path = float
	url = https://github.com/wrathematics/float
[submodule "getPass"]
	path = getPass
	url = https://github.com/wrathematics/getpass
[submodule "getip"]
	path = getip
	url = https://github.com/wrathematics/getip
[submodule "kazaam"]
	path = kazaam
	url = https://github.com/cran/kazaam
[submodule "meanr"]
	path = meanr
	url = https://github.com/wrathematics/meanr
[submodule "ngram"]
	path = ngram
	url = https://github.com/wrathematics/ngram
[submodule "sylcount"]
	path = sylcount
	url = https://github.com/wrathematics/sylcount
	subdir = R
